
<style type="text/css">

.form-style{
    max-width:300px;
    margin:50px auto;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style form {
	margin:auto;
    max-width:210px;
	position:relative;
	padding:10px;
	border-style: solid;
	border-color: #B9B9B9;
}

.form-style input[type="submit"],
.form-style input[type="button"]{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    color: #D2E2FF;
    text-align: center;
}

.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover{
    background: #6B9FFF;
    color:#fff;
}

#btn_submit {
	width: 200px;
	margin-left:auto;
	margin-right:auto;
	padding: 10px;

}

.form-style ul{
    list-style:none;
    padding:0;
    margin:0;   
}
.form-style li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}

.form-style li > label{
    display: block;
    float: left;
    margin-top: -22px;
    background: #FFFFFF;
    height: 14px;
    padding: 4px;
    color: #B9B9B9;
    font-size: 14px;
}

.form-style h1{
	display: block;
	font-size: 24px;
	color: #B9B9B9;
	padding: 6px;

}
</style>