
<style type="text/css">

    .thank-you-style {
        max-width:400px;
        margin:50px auto;
        border-radius:2px;
        padding:20px;
        font-family: Georgia, "Times New Roman", Times, serif;
    }

    .thank-you-style div {
    	margin:auto;
        max-width:400px;
    	position:relative;
    	padding:10px;
    	border-style: solid;
    	border-color: #B9B9B9;
    }

    .thank-you-style h1 {
        display: block;
        text-align: center;
        font-size: 24px;
        color: #2471FF;
        padding: 2px;
    }

    .thank-you-style h2 {
        text-align: center;
        font-size: 18px;
    }

    .thank-you-style h3 {
        display: block;
        text-align: center;
        font-size: 14px;
        color: #B9B9B9;
        padding: 2px;
    }

    .thank-you-style dl {
        margin-bottom: 10px;
    }


    .thank-you-style dl dt {
        background: #2471FF;
        color: #fff;
        float: left;
        font-weight: bold;
        margin-right: 10px;
        padding: 5px;
        width: 150px;
    }

    .thank-you-style dl dd {
        background: #B9B9B9;
        margin: 2px 0;
        padding: 5px 0;
    }


    #cbox {
        width: 600px;
        margin-left:auto;
        margin-right:auto;
        padding: 20px;
    }

</style>